# node modules
node_modules/
services/*/node_modules/

# env files
.env
.env.*

# IDE / OS
.vscode/
.DS_Store
.idea/

# logs / builds
npm-debug.log*
*.log
logs/
dist/
build/
coverage/
*.tgz

# service-specific
services/s2/